Package: tad-blockchain-cli
Version: {{ TAD_INSTALLER_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Tad Network Inc <hello@tad.farm>
Description: Tad Blockchain
 Tad is a modern cryptocurrency built from scratch, designed to be efficient, decentralized, and secure.
